<div>

<form method="post">

  <div class="form-group">
    <label for="exampleInputEmail1">search</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap tu khoa . . .">
  </div>

  <button type="submit" class="btn btn-primary">Tim kiem</button>

</form>

</div>